<div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>

    {% if page.repo %}
    <a href="https://github.com/{{ page.repo }}" class="button fork"><strong>View On GitHub</strong></a>
    {% endif %}
    <div class="downloads">
      <span>Downloads</span>
      <ul>
        <li><a href="https://github.com/{{ page.repo }}/zipball/master" class="button">ZIP</a></li>
        <li><a href="https://github.com/{{ page.repo }}/tarball/master" class="button">TAR</a></li>
      </ul>
    </div>
  </div>
</div>
